$primary: #2631AD;
$secondary: #2C3386;


//Button Styles


.btn {
    display: inline-block;
    border: none;
    font-size: 1.6rem;
    font-weight: 800;
    border-radius: 3px;
}

.btn-lg {
    padding: 2rem 5.5rem;
}

.btn-primary {
    background-color: #fff;
    color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    color: #fff;
}