.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#hamburger .line{
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 5px;
}