.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}


@media screen and (max-width: 768px){

    #hamburger {
        cursor: pointer;
        z-index: 3;

        .line{
            height: 2px;
            width: 30px;
            background-color: #fff;
            margin-bottom: 5px;
        }
    }
    

    #hamburger.open {
        transition: all 0.4s ease-in-out;
        position: fixed;
        top: 40px;
        right: 20px;

        .line {
            transition: all 0.4s ease-out;
        }

        .line:first-child{
            transform: translateY(7px) rotateZ(45deg);
        }
        .line:nth-child(2){
            transform: rotateZ(45deg);
        }

        .line:nth-child(3){
            transform: translateY(-7px) rotateZ(-45deg);

        }
    }

    #hamburger.open:hover {
        transform: rotateZ(90deg);
    }
}